@import url('https://fonts.googleapis.com/css2?family=Chicle&family=DM+Serif+Text:ital@0;1&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: "Chicle", serif;*/
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #19183B;
    color: white;
    line-height: 1.6;
    margin: 20px;
}

/* ---- MENÚ ---- */
.menu {
    background-color: #708993;
    width: 25%;
    padding: 20px;
    border-radius: 100px;
    margin: 40px auto;
}

.menu ul {
    display: flex;
    justify-content: center;
}
.menu li {
    list-style-type: none;
    padding: 10px;
}

.menu li a {
    text-decoration: none;
    font-size: 1.1rem;
}

.menu a:link {
    color: #E7F2EF;
}

.menu a:visited, .menu a:hover {
    color: #19183B;
}

.menu h1 {
    text-align: center;
}

/* ---- MAIN ---- */

.contenido section {
    margin: 50px;
    padding: 20px;
    text-align: justify;
}

.contenido section h2 {
    padding-bottom: 2%;
}
/* About me*/

#about-me p:first-of-type {
    width: 80%;
}

#about-me p:nth-of-type(2){
    width: 80%;
}
#about-me img {
    width: 300px;
    height: auto;
    margin-right: 100px;
    border-radius: 100px;
}

#about-me {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* USANDO BOX*/

/* Educación */
#educacion {
    display: flex;
}

#educacion .edu1, #educacion .edu2 {
    width: 35%;
    box-sizing: border-box;
}

#educacion div:last-child {
    margin-left: 20%;
    margin-top: 2%;
}

#educacion .edu2 h4:first-of-type {
    text-align: center;
    padding-bottom: 10px;
}

#educacion .edu2 span {
    font-weight: bold;
    font-size: 0.6em;
    padding: 10px;
}

#educacion .edu2 ol>li {
    padding: 1.5%;
}
/* Intereses */
#intereses .img-arte img {
    width: 200px;
    height: auto;
}


/* ---- FOOTER ---- */
footer {
    text-align: center;
    background-color: #708993;
    width: 100%;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0px -5px 5px #708993;
}